@charset "UTF-8";
/* variables */
:root {
  --pointColor: #5a5aff;
  --lightColor: #9688ff;
  --darkColor: #0030cb;
  --pointColor2: #5af;
  --lightColor2: #8fdbff;
  --darkeColor2: #007bcb;
  --black: #001;
  --white: #fff;
  --defaultGray: #ccc;
  --Gray01: #aaa;
  --Gray02: #777;
  --Gray03: #ededed;
}
