@charset "UTF-8";
@import "variables";
@import "reset";
@import "font";

.hljs {
  display: block;
  padding: 20px;
  font-family:
    "Source Code Pro",
    Consolas,
    Monaco,
    Andale Mono,
    Ubuntu Mono,
    monospace;
  font-size: 1rem;
}

/* common */
body {
  font-family: "Raleway", "Pretendard", "Noto Sans KR", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.dim {
  overflow: hidden;
  // overflow-y: scroll;
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  // box-sizing: border-box;
}
.title {
  font-size: 2.25rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.description {
}
.description--muted {
  color: var(--Gray02);
}
.location {
  display: inline-block;
  padding: 0.5rem 0;
  color: var(--pointColor);
  text-transform: uppercase;
}
.code-block {
  margin-top: 1rem;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  padding: 2rem;
  text-align: center;
}
.footer {
  padding: 1.25rem;
  text-align: center;
}
.section {
  margin-top: 6rem;
}
.result {
  margin-top: 3.5rem;
}
.result__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--defaultGray);
}
.result__heading {
  padding: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

/* TABLES */
.table {
  table-layout: fixed;
  width: 100%;
}
.table th,
.table td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--defaultGray);
  text-align: left;
}
.table thead th {
  border-bottom: 2px solid var(--black);
}
.table--striped tr:nth-child(2n) th,
.table--striped tr:nth-child(2n) td {
  background-color: var(--Gray03);
}
.table--hover tr:hover th,
.table--hover tr:hover td {
  background-color: var(--Gray03);
}
/* FORMS */
.ipt,
.slt,
.ipt-file ~ label,
.ta {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--defaultGray);
  border-radius: 0.25rem;
  background-color: var(--white);
}
.ipt--submit {
  color: var(--white);
  border-color: var(--pointColor);
  background-color: var(--pointColor);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.ipt::placeholder,
.ta::placeholder {
  color: var(--defaultGray);
}
.ipt--submit:hover {
  border-color: var(--darkColor);
  background-color: var(--darkColor);
}
.chk {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--defaultGray);
  border-radius: 0.25rem;
  vertical-align: top;
  appearance: none;
}
.chk:checked {
  border-color: var(--pointColor);
  background: var(--pointColor) url("/assets/icons/icon_chk.svg") no-repeat
    center;
  background-size: 1rem;
}
.form {
  padding: 2rem;
  border: 1px solid var(--defaultGray);
  border-radius: 0.25rem;
}
.form-radio__label {
  display: block;
}
.form__group {
  margin-bottom: 1rem;
}
.form__group--radio {
  display: inline-block;
  padding: 10px;
}
.form__group label {
  display: inline-block;
  margin-bottom: 5px;
}
.form__guide {
  margin-top: 5px;
  color: var(--Gray02);
  font-size: 14px;
}
.ipt-file,
.radio {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.ipt-file ~ label {
  position: relative;
  color: var(--defaultGray);
  font-weight: 300;
}
.ipt-file ~ label::after {
  content: "파일선택";
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: var(--white);
  border-radius: 0 5px 5px 0;
  background-color: var(--pointColor);
}
.radio ~ label {
  position: relative;
  padding-left: 24px;
}
.radio ~ label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--pointColor);
  border-radius: 50%;
}
.radio:checked ~ label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border: 1px solid var(--pointColor);
  border-radius: 50%;
  background-color: var(--pointColor);
}
[disabled].ipt,
[disabled].slt,
[disabled].ta {
  color: var(--defaultGray);
  background-color: var(--Gray03);
  opacity: 1;
}
[disabled].ipt--submit {
  color: var(--white);
  border-color: var(--lightColor);
  background-color: var(--lightColor);
  cursor: default;
}
[disabled].chk:checked {
  border-color: var(--lightColor);
  background-color: var(--lightColor);
}
[disabled].chk ~ label {
  color: var(--defaultGray);
}
[disabled].ipt-file ~ label {
  background-color: var(--Gray03);
}
[disabled].ipt-file ~ label::after {
  background-color: var(--lightColor);
}
[disabled].radio ~ label {
  opacity: 0.5;
}

/* ACCORDION */
details ~ details {
  margin-top: -2px;
}
details[open] summary {
  color: #fff;
  background-color: #aaa;
}
summary {
  border: 2px solid #ccc;
  padding: 15px;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #fafafa;
  list-style: none;
  transition: all 0.4s ease-out;
}
summary::-webkit-details-marker {
  display: none;
}
summary:hover,
summary:focus {
  color: #fff;
  background-color: #aaa;
  outline: none;
}
.accordion__contents {
  padding: 10px 30px 20px;
}

.accordion > li ~ li {
  margin-top: 10px;
}
.accordion__header {
  position: relative;
  border-bottom: 1px solid var(--defaultGray);
  font-size: 20px;
  font-weight: 600;
}
.accordion__header::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  height: 12px;
  margin-top: -10px;
  background: url("/assets/icons/icon_dropdown.svg") no-repeat center;
  background-size: 20px 12px;
  transition: all 0.3s ease;
}
.accordion__header,
.accordion__content {
  padding: 15px;
}
.accordion__header.active {
  font-weight: bold;
}
.accordion__header.active::after {
  transform: rotate(180deg);
}
.accordion__content {
  display: none;
}
.accordion__content.active {
  display: block;
}

/* BUTTONS */
.btn-group {
  display: flex;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }

  & ~ & {
    margin-top: 1rem;
  }
}

.btn {
  padding: 10px;
  border: 1px solid var(--pointColor);
  border-radius: 0.25rem;
  transition: all 0.3s ease-out;

  &--full {
    width: 100%;

    & ~ & {
      margin-top: 0.5rem;
    }
  }

  &--primary {
    color: var(--white);
    border-color: var(--btn-primary-color, var(--pointColor));
    background-color: var(--btn-primary-color, var(--pointColor));

    &:hover {
      border-color: var(--btn-dark-color, var(--darkColor));
      background-color: var(--btn-dark-color, var(--darkColor));
    }
  }
}

[disabled].btn {
  border-color: var(--lightColor);
  background-color: var(--lightColor);
}

/* DROPDOWN */
.dropdowns {
  display: flex;
  gap: 0.5rem;
}

.dropdown-wrap {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  min-width: 10rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #fff;
  z-index: 1;

  &.active {
    display: block;
  }
}

/* LIST */
.bullet-list {
  & > li {
    position: relative;
    padding-left: 0.75rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.25rem;
      height: 0.25rem;
      margin-top: -2px;
      border-radius: 50%;
      background-color: #777;
    }

    & ~ li {
      margin-top: var(--bullet-list-item-gap, 0.25rem);
    }
  }
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  &.active {
    display: block;
  }

  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    padding: 30px 15px 30px 30px;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    height: calc(100vh - 60px);
    overflow: hidden;
  }

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    text-indent: -999em;
    background: url("/assets/icons/icon-close.svg");
  }

  &__content {
    height: calc(100% - 60px);
  }

  &__inner {
    height: 100%;
    padding-right: 1rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 3px;
      background-color: var(--Gray03);
    }

    &::-webkit-scrollbar-thumb {
      width: 5px;
      border-radius: 3px;
      background-color: var(--pointColor);
    }
  }
}

/* media */
@media screen and (max-width: 1024px) {
  .wrap {
    padding: 0 25px;
  }
}
